{% extends "../layouts/admin.twig" %}

{% block body %}
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <h1>Viewing {{ entry.name }}</h1>

    <a href="{{ route('admin.entries.edit', collection, entry.slug) }}">Edit {{ entry.name }}</a>

    <div>
        <p><b>Entry name:</b></p>
        <p>{{ entry.name }}</p>

        <p><b>Entry slug:</b></p>
        <p>/{{ entry.slug }}</p>
    </div>
{% endblock %}